<!--
  Debe ir incluido en un <mat-list-item class="col">
-->

<mat-list>
  <mat-divider></mat-divider>

  <mat-list-item>
    <div class="wrapper">
        <span>Push Notification</span>

        <div *ngIf="ui.notificationGranted || ui.notificationDenied">
          <mat-checkbox
            [disabled]="true"
            [checked]="ui.notificationGranted "
          >
            Enabled
          </mat-checkbox>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <mat-checkbox
            [disabled]="true"
            [checked]="ui.notificationDenied"
          >
            Disabled
          </mat-checkbox>
        </div>

        <div *ngIf="ui.notificationNotSupported">
            <mat-checkbox
              [disabled]="true"
              [checked]="true"
            >
              Not Supported
            </mat-checkbox>
        </div>

        <div *ngIf="ui.notificationDefault">
          <button mat-stroked-button color="primary" (click)="enabledNotification()" >Sign In.</button>
        </div>

      </div>
    </mat-list-item>

  <p class="text" *ngIf="ui.notificationGranted || ui.notificationDenied">
      * You can change this configuration. Open your Browser settings and allow or block notifications from this page.
  </p>

  <p class="text" *ngIf="ui.notificationNotSupported">
      * This Browser not supported notifications.
  </p>

  <p class="text" *ngIf="ui.notificationDefault">
    * Sign in to enabled the notification.
  </p>

  <mat-divider></mat-divider>
</mat-list>
