<!--
  Debe ir incluido en un <mat-list-item class="col">
-->

<mat-list>
  <mat-divider></mat-divider>

  <div *ngIf="permission$ | async as permission">
    <div [ngSwitch]="permission.permission">
      <default-notification *ngSwitchCase="defaultNotification()"></default-notification>
      <not-supported-notification *ngSwitchCase="notSupportedNotification()"></not-supported-notification>
      <granted-notification *ngSwitchCase="grantedNotification()"></granted-notification>
      <denied-notification  *ngSwitchCase="deniedNotification()"></denied-notification >
    </div>
  </div>

  <mat-divider></mat-divider>
</mat-list>
