<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Firebase Push Notification</span>
    <img src="https://cdn4.iconfinder.com/data/icons/google-i-o-2016/512/google_firebase-2-512.png"
          class="responsive">
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="row">
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item class="col">
        <app-notification style="width: 100%"></app-notification>
    </mat-list-item>


          <p class="text">
              * You can change this configuration. Open your Browser settings and allow or block notifications from this page
          </p>


    <mat-divider></mat-divider>
  </mat-list>
</div>

<div class="row">
    <div class="col">
        <p>Version V1 is runnning ...</p>
    </div>
</div>
